body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #343a40;
}

h1,
h2 {
  color: #6c757d;
  text-align: center;
}

Link {
  text-decoration: none;
}

nav {
  background-color: #343a40;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: #6c757d;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

button:disabled {
  background-color: #6c757d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  width: 100%;
  max-width: 400px;
}

form label {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px 0;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-body {
  background: #fff;
  padding: 20px;
  width: 500px;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.cart-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-name {
  margin-right: auto;
}

.cart-remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 10px;
}

.cart-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.cart-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-to-cart-btn,
.logout-btn,
.add-product-btn {
  background-color: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logout-btn {
  margin-left: 1vw;
}

.cart-btn:hover {
  background-color: #0062cc;
}
.add-to-cart-btn:hover,
.logout-btn:hover,
.add-product-btn:hover {
  background-color: #007bff;
  color: white;
}

.view-all-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-top: 20px;
  width: 50%;
}

.product-list-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.product-item button {
  margin-top: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.past-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.order-box {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}
